<ul>
    <li class="ranking-item animated-background" *ngFor="let contestant of contestants | orderByPoints; let i=index" (click)="switchRowExpandedState(i)">
        <div class="flag">
            <img class="flag" [src]="'./assets/flags/' + contestant.countryCode + '.png'" />
        </div>
        <div class="info">
            <div class="song">
                <div class="title">{{contestant.songTitle}}</div>
                <div class="singer">{{contestant.singer}} ({{contestant.countryName}})</div>
                <div *ngIf="users" class="user-votes">{{contestant | votedBy:users:isExpanded(i)}}</div>
            </div>
            <div class="points">
                {{contestant.votes}}
            </div>
        </div>
    </li>
</ul>
